@import 'https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i';
@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700';
@import 'font-awesome-4.6.3/css/font-awesome.min.css';

/* Para os plebeus sem JS */
noscript{
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  font-size: 50px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
noscript span{
  color: #fff;
}
/**************************/

html,body{
  height: 100%;
  min-height: 100%;
  width: 100%;
  position: relative;
}

body{
  font-family: "Roboto", sans-serif;
}

a{
  cursor: pointer;
}

#logo{
  position: relative;
  float: left;
  height: 100%;
  width: calc(100% - 341px);
}

#logo div{
  width: 100%;
  text-align: center;
}

#logo div a{
  color: #fff;
  text-decoration: none;
  font-size: 26px;
  padding-top: 20px;
  display: inline-block;
}

#logo img{
  display: block;
  background: #1a69ba;
  width: 100%;
}

#content_forms{
  position: relative;
  float: left;
  height: 100%;
  width: 300px;
  overflow: hidden;
}

#content_forms h1{
  font-family: 'Lora';
  font-weight: 400;
  color: #fff;
  font-size: 50px;
  line-height: 90px;
}

input, select, textarea{
  outline: none;
  border: none;
  padding: 10px;
  width: 250px;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
  background: rgba(255, 255, 255, 0.04);
  color: #fff;
  border-bottom: 1px solid #fff;
  font-family: 'Roboto';
  font-weight: 300;
  transition: background 0.3s;
  transition-timing-function: cubic-bezier(.4,0,.6,1);
}
#content_forms input[type='text']:focus, input[type='password']:focus{
  background: rgba(255, 255, 255, 0.1);
}
#content_forms span{
  color: #fff;
  font-size: 10px;
}
#content_forms span ~ input{
  border-bottom: 1px solid #f00 !important;
}
#content_forms ul{
  display: flex;
  flex-wrap: wrap;
}
#content_forms ul input{
  order: -1;
}
#content_forms a{
  font-family: 'Roboto';
  font-weight: 300;
  color: rgb(78, 121, 251);
}
#content_forms a:hover{
  color: rgb(153, 178, 255);
}

.button_1{
  position: relative;
  outline: none;
  border: 1px solid #fff;
  font-family: 'Roboto';
  font-weight: 300;
  padding: 10px;
  min-width: 100px;
  color: #fff;
  background: none;
  margin-top: 10px;
  cursor: pointer;
  transition: color 0.3s;
}
.button_1:after{
  content: "";
  display: block;
  width: 0%;
  height: 100%;
  background: #fff;
  transition: 0.3s;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
.button_1:hover{
  color: #000;
}
.button_1:hover:after{
  width: 100%;
}

.button_2{
  display: block;
  position: relative;
  outline: none;
  background: none;
  border: none;
  margin-top: 20px;
  color: #fff;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 100;
  cursor: pointer;
}

#access_wrapper{
  background: #00283E;
}

.content_page_window{
  height: 100vh;
  width: 100%;
}

#access{
  height: 750px;
  min-width: 800px;
  width: 80vw;
  max-width: 1000px;
}

.content_forms_close#login_form{
  left: -50% !important;
}
.content_forms_close#cad_form{
  left: 50% !important;
}

#login_form{
  width: 270px;
  left: 50%;
  transition: left 0.2s;
}
#cad_form{
  width: 270px;
  left: 150%;
  transition: left 0.2s;
}

.content_row{
  width:calc(100% - 100px);
  display: flex;
  padding: 50px;
  justify-content: space-around;
  max-width: 1000px;
  margin: 0px auto;
}

.content_row img:nth-child(1){
  height: 300px;
  margin-right: 30px;
}

.content_row img:nth-child(2){
  height: 300px;
  margin-left: 30px;
}

.content_row h1{
  font-family: 'Lora', sans-serif;
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 600;
}

.content_row p {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 22px;
  text-indent: 3em;
}

.right-img{
  float: right;
  margin: 10px;
  width: 400px;
}
.left-img{
  float: left;
  margin: 10px;
  width: 400px;
}

footer{
  position: relative;
  bottom: 0px;
  padding-top:10px;
  background-color:#fff;
  text-align: center;
  height: 30px;
  line-height: 30px;
  font-style: italic;
}

/*--- Backend ---*/
header{
  width:100%;
  height: 75px;
  background: #162b40;
}

header #header_logo{
  height: 100%;
  width: 20%;
  float: left;
}

header #header_logo img{
  width: 100%;
  height: 100%;
}

header nav{
  height: 100%;
  width: 55%;
  display: flex;
  float: left;
}

header nav a{
  color: #fff;
  text-decoration: none;
  width: 100%;
  line-height: 75px;
  text-align: center;
  font-size: 26px;
}

header #header_access{
  width: calc(25% - 100px);
  height: calc(100% - 20px);
  padding: 10px 50px;
  float: left;
}

header #header_access table{
  height: 100%;
  width: 100%;
}

header #header_access table td{
  text-align: center;
  vertical-align: middle;
  width: 50%;
}

header #header_access table tr:first-child{
  border-bottom: 1px solid #fff;
}

header #header_access table, header #header_access table a{
  text-decoration: none;
  color: #fff;
}

#wrapper{
  background: #405388;
  padding: 11vh 8% 0 8%;
  width: 84%;
  min-height: calc(89vh - 75px);
}

#content_wrapper{
  width: calc(100% - 80px);
  height: calc(100% - 40px);
  padding: 40px;
  padding-bottom: 0;
  min-height: calc(89vh - 115px);
  background: #fff;
}

#content_wrapper h1{
  font-size: 28px;
  font-family: "Lora";
  margin-bottom: 10px;
}

/*form de registro*/

.reg_wrapper{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.reg_wrapper input, .reg_wrapper select, .reg_wrapper textarea{
  border: 1px solid #000;
  color: #000;
  font-size: 15px;
  padding: 6px;
  display: block;
  width: 300px;
}

.reg_wrapper span{
  color: #f00;
  display: block;
  font-size: 10px;
}

/*tables*/
#tabs{
  width:100%;
}

.table_tabs ul{
  position: relative;
  display: flex;
  flex-wrap: wrap-reverse;
  align-content: start;
  flex-basis: auto;
}
.table_tabs ul li{
  display: block;
  padding: 5px;
  max-width:112.875px;
  padding-left: 10px;
  padding-right: 10px;
  background: #1e2e5c;
  outline: none !important;/*Por causa dos padrões do jQuery UI*/
}
.table_tabs ul li a{
  color: #c4c4c4;
  text-decoration: none;
  outline: none !important;/*Por causa dos padrões do jQuery UI*/
}

.ui-state-active{
  background: #405388 !important;
}
.ui-state-active a{
  color: #fff !important;/*Por causa dos padrões do jQuery UI*/
}

.add_link{
  padding: 5px;
}

.list_entries table, .table_tabs table{
  border: 1px solid #405388;
  width: 100%;
  text-align: center;
}
.list_entries th, .table_tabs th{
  background: #405388;
  color: #fff;
}
.list_entries td, th, .table_tabs td, th{
  padding: 5px;
  vertical-align: middle;
}
.list_entries tr:nth-child(odd), .table_tabs tr:nth-child(odd){
  background: #dfdfdf;
}

/*---Classes de Apoio---*/
.center_absolute{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.vertical_bar{
  display: flex;
  align-items: center;
  position: relative;
  float: left;
  width: 1px;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
}
.vertical_bar::after{
  display: block;
  content: "";
  background: #fff;
  width: 100%;
  height: 60%;
}


/*Modal Form com jQuery-Ui*/

input.text, select{
  margin-bottom:12px; width:95%; padding: .4em;
}

select{
  margin-bottom:12px; width:100%; padding: .4em;
}

.modal_button{
  height: 30px;
  margin-top: 15px;
  background: #dbdbdb;
}

textarea{
	resize: none;
	height: 75px;
}

/* alerts */

.message{
  width:60%;
  height:30px;
  border-radius:0px 3px 3px 0px;
  text-align:center;
  padding-top:13px;
  margin-bottom:20px;
}

.success{
  background-color:rgb(199, 249, 184);
  color:rgb(80, 125, 49);
  border:1px solid rgb(80, 125, 49);
}

.danger{
  background-color: rgb(245, 114, 91);
  color: rgb(179, 20, 24);
  border:1px solid rgb(179, 20, 24);
}

blockquote{
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
  border-left: 3px solid #00283E;
}
blockquote span{
  display: block;
  font-style: italic;
  font-weight: lighter;
}

select{
  width: 314px !important;
}

button{
		outline: 0;
		background-color: #2fb133;
		border: 0;
		padding: 10px 10px;
		color: #fff;
		border-radius: 3px;
    width: 102px;
		cursor: pointer;
		font-size: 18px;
		transition-duration: 0.25s;
	}

  button:hover{
			opacity: 0.8 !important;
	}

  .warning{
    background-color: #E45555 !important;
  }

  .neutral{
		background-color: #405388;
  }

  .buttonLink{
    background-color: #405388;
    color: #fff;
    position: relative;
    margin-left: 5px;
    border-radius: 6px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    border: 1px solid black;   
  }

  .buttonLink:hover{
    opacity: 0.8 !important;
  }
  
td + a{
  color:#fff;
}

.fa-pencil {
    color:rgb(245, 139, 28);
}
.fa-trash{
    color:rgb(219, 52, 52);
}
.fa-clone{
    color:rgb(66, 100, 200)
}

.lowtime, .midlowtime, .midhightime, .hightime, .lowpower, .midpower, .highpower{
  color: white;
}
.lowtime, .lowpower{
  background-color: rgb(49, 177, 82);
}
.midlowtime, .midpower{
  background-color: rgb(66, 100, 200);
}
.midhightime{
  background-color: rgb(245, 80, 28);
}
.hightime, .highpower{
  background-color: rgb(219, 52, 52);
}
.arrow-down-ambar{
  color:rgb(67, 105, 81);
  font-size: 0.8em;
}
h2{
  font-size:1.1em;
  margin-top:10px;
}
